.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 5%;
}

.song-info {
  flex-grow: 1;
}

.buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:nth-child(1) {
  background-color: #007bff;
  color: white;
}

.buttons button:nth-child(2) {
  background-color: #dc3545;
  color: white;
}
