.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navItems {
  display: flex;
}

.navItem {
  margin-left: 20px;
  cursor: pointer;
}
